
.flexContainer {
    margin-top:10rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.AddVideo {
    width: 400px;
    height: 445px;
   
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);    

}
.title{
    color:hsl(173, 100%, 20%);
}
.fileWrapper {
    display: flex;
   
    flex-direction: column;
    align-items:center;
    justify-content:center;
    
}

.fileWrapper input[type="file"] {
    display: none;
}

.fileWrapper .uploadLabel {
    border: 1px solid #ccc;
    margin-top:1rem;
    width: 20rem;
    height: 46px;
    text-align:center;
    cursor: pointer;
    justify-content: center;
    background-color: hsl(341, 100%, 45%);
    color: #ffffff;
    vertical-align: middle;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    line-height:50px;
}

.textWrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.textWrapper input {
    text-align: center;
    margin-top: 1rem;
    width: 19.5rem;
    height: 46px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);


}


.textWrapper input::placeholder {

    font-size: 18px;
    font-weight: bold;
    color: rgba(33, 75, 93, 0.5);

    transition: 0.4s ease-in-out;
    margin-top: 2px;
}






.AddVideo .btn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.AddVideo .submitButton {
    width: 20rem;
    height: 46px;
    border-style: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}
.AddVideo .notClickable{
    pointer-events: none;
    background-color: rgb(139, 138, 138);
}
.AddVideo .Clickable{
    background-color: hsl(173, 100%, 20%); 
    pointer-events: visible;
}