
.AdminAreaWrapper {
  display: flex;
  flex-wrap: column;
}

body {
  margin: 0
}

.icon-bar {
  width: 90px;
  background-color: hsl(0, 100%, 100%);
  box-shadow: 5px 0px 5px -5px rgb(187, 182, 182);
  height: 100vmax;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;

  margin-left:.4rem;
  margin-right:.4rem;
  transition: all 0.3s ease;
  color: black;
  font-size: 36px;
  border-radius: 5px;
  cursor: pointer;
  justify-content:center;
  box-shadow: 10px 15px 10px -5px rgb(196, 191, 191);

}

.icon-element {
  margin-top: .4rem;
  background-color: hsla(171, 28%, 82%, 0.507)
}

.icon-element:hover {
  background-color: hsl(173, 30%, 50%);
}

.color {
  margin-top: .4rem;

  background-color: hsl(341, 100%, 45%);
  ;
}