.CardViewWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.AdminWidth {
  width: 30%;
}
.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.greenstripe {
  border-bottom: 3px solid #00665a;

  margin: 0px 0.3rem 0px 0px;
}

.redstripe {
  border-bottom: 3px solid hsl(341, 100%, 45%);
}

@media only screen and (max-width: 640px) {
  .AdminWidth {
    width: fit-content;
  }
}
