.CardViewWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.AdminCard {
  width: 30%;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.greenstripe {
  border-bottom: 3px solid #00665a;

  margin: 0px 0.3rem 0px 0px;
}

.redstripe {
  border-bottom: 3px solid hsl(341, 100%, 45%);
}

@media only screen and (max-width: 640px) {
  .AdminCard {
    width: 310px;
  }
}
