/*Controll Image height to adjust images evenly*/
.css-o69gx8-MuiCardMedia-root {
    height:210px;
}

@media only screen and (max-width: 640px) {
    .wrapper {
       /* Place Cards on Center of the Screen */
        align-items: center;
    }
    .Card {
        width: 90%;
        height: auto;
        margin-top: 1rem;
        
    }
    
}