.grid{
    width: 100vmax;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    grid-gap: 5vmin;
    margin: 2rem 0 2rem 0;
}

.css-4cocih-MuiCardContent-root{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center ;
}
.css-5repwe-MuiCardContent-root {
    flex-direction: column;
}
@media (max-width: 640px) {
    .grid{
        grid-template-columns: repeat(2, 200px);
        width:100%;
        grid-gap:1vmin;

    }
}