
.AdminAreaWrapper {
  display: flex;
  flex-wrap: column;
}




.icon-bar {
  
  align-self: stretch;
  position:relative;
  width: 90px;
  
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 9px 16px;

  margin-left:.4rem;
  margin-right:.4rem;
  transition: all 0.3s ease;
  color: black;
  font-size: 36px;
  border-radius: 5px;
  cursor: pointer;
  justify-content:center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);   

}

.icon-element {
  margin-top: .4rem;

}

.icon-element:hover {
  background-color: rgb(146, 198, 170);
}

.color {
   margin-top: .4rem;
  background-color: hsl(341, 100%, 45%);
  
}