.back{
    margin-top:5px;
    width: 145px;
    height:45px;
    border-radius:25px;
    border:none;
    background-color:hsl(341, 100%, 45%);
    cursor:pointer;
}
.video{
    display:flex;
    position:fixed;
}