.overflow-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-modal {
  top: 50%;
  left: 50%;
  position: fixed;
  border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.popup-modal .popup-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: #787878;
  font-size: 2rem;
  border-bottom: 1px #dddddd solid;
  padding: 20px;
}
.popup-modal .popup-header .popup-title {
  align-self: center;
}
.popup-modal .popup-header .close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: hsl(255, 100%, 100%);
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #4c9078;
}
.popup-modal .popup-header .close::selection {
  cursor: none;
}
.popup-modal .popup-header .close:hover {
  background-color: #669995;
}
